:host .ui.modal > .close {
  top: 0;
  right: 0;
  color: #222222;
}

.actions:empty {
  display: none;
}

.actions-default {
  display: none;
}

.actions:empty + .actions-default {
  display: block;
}
